<div class="container p-5">
  <h1 class="text-black"> Password Generator</h1>
  <div class="display">
    <input type="text" id="password" placeholder="Generate Password">
    <img src="../assets/copy.png" alt="">
</div>
<button class="mt-2">
  <img src="../assets/generate.png" alt="">
  Generate Password
</button>

<section>
  <div class="example-label-container">
    <label id="example-name-label" class="example-name-label">Length</label>
    <label class="example-value-label">{{value}}</label>
  </div>
  <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [max]="max"
          [min]="min"
          [step]="step"
          [discrete]="thumbLabel"
          [showTickMarks]="showTicks">
        <input matSliderThumb [(ngModel)]="value">
      </mat-slider>
</section>

<section class="example-section">
  <mat-checkbox class="example-margin custom-checkbox" [(ngModel)]="number">Number</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="upperCase">Upper case</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="lowerCase">Lower case</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="symbol">Symbol</mat-checkbox>
</section>


</div>