<div class="container p-5">
  <h1 class="text-black"> Password Generator</h1>
  <div class="display">
    <input type="text" readonly #input placeholder="Generate Password">
    <img src="../assets/copy.png" alt="">
</div>
<button class="mt-2" (click)="onClick()">
  <img src="../assets/generate.png" alt="">
  Generate Password
</button>

<section>
  <div class="example-label-container">
    <label id="example-name-label" class="example-name-label">Length</label>
    <label class="example-value-label">{{value}}</label>
  </div>
  <mat-slider
          class="example-margin"
          [disabled]="disabled"
          [max]="max"
          [min]="min"
          [step]="step"
          [discrete]="thumbLabel"
          [showTickMarks]="showTicks">
        <input matSliderThumb [(ngModel)]="value" (ngModelChange)="onChangeLength($event)">
      </mat-slider>
</section>

<section class="example-section">
  <mat-checkbox class="example-margin custom-checkbox" [(ngModel)]="number" (ngModelChange)="onChangeNumber($event)">Number</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="upperCase" (ngModelChange)="onChangeUpper($event)">Uppercase</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="lowerCase" (ngModelChange)="onChangeLower($event)">Lowercase</mat-checkbox>
  <mat-checkbox class="example-margin" [(ngModel)]="symbol" (ngModelChange)="onChangeSymbol($event)">Symbol</mat-checkbox>
</section>


</div>